{{ define "site/meta" }}
  {{ $data := index .Site.Data.days .Params.day }}
  {{ partial "site/meta.html" (dict "image" $data.image "content" .) }}
{{ end }}

{{ define "header" }}&nbsp;{{ end }}

{{ define "main" }}
  {{ $data := index .Site.Data.days .Params.day }}
  <div class="Trip">
    <div class="Trip-header">
      <div class="Trip-headerBkg js-imageContainer">
        <img src="/{{ $data.image }}" alt="{{ .Params.title }}" title="{{ .Params.title }}" />
      </div>

      <nav class="Trip-siteNavigation">
        <a href="{{ .Site.Params.siteURL }}" class="Text is-caption  Trip-siteNavigationLink">
          ← {{ i18n "back-home" }}
        </a>
        {{ range .Translations }}
          <a class="flag Trip-siteNavigationButton" href="{{ .Permalink }}">
            {{- $svgPartial := ( printf "svg/%s.svg" .Lang ) -}}
            {{ partialCached $svgPartial . }}
          </a>
        {{ end }}
      </nav>

      <div class="Trip-headerTitle">
        <p class="Text is-caption is-txtWhite is-upcase">{{ i18n "days" 1 }} {{ .Params.day }}</p>
        <h2 class="Title is-jumbo is-txtWhite">{{ .Params.title }}</h2>
        <p class="Text is-subtitle is-txtWhite">{{ .Params.description }}.</p>
      </div>

      <div class="Trip-nzMap js-nzmap"></div>

      <div class="Trip-headerAnimation icon-scroll"></div>
      <div class="Trip-navigation is-fake js-fakeNavigation"></div>

      <div class="Trip-navigation js-navigation">
        {{- $tripCount := len (where .Site.Pages "Section" "==" "trip") -}}
        <p class="Trip-navigationTitle Text is-caption is-txtWhite is-upcase">{{ i18n "days" $tripCount }}</p>

        <nav class="Trip-navigationItems">
          {{ with .Prev }}
            {{ if eq .Type "trip" }}
              <a href="{{ .RelPermalink }}" class="Trip-navigationPrev">
                <i class="fa fa-arrow-left"></i>
              </a>
            {{ end }}
          {{ else }}
            <a class="Trip-navigationPrev is-disabled">
              <i class="fa fa-arrow-left"></i>
            </a>
          {{ end }}

          {{ range sort ((where $.Site.Pages ".Type" "trip").ByParam "day") ".Params.day" "asc" }}
            {{ if .Params.day }}
              <a href="{{ .URL }}" class="Trip-navigationItem {{ if eq .Params.day $.Params.day }} is-selected {{ else }} js-tippy {{ end }}" data-tippy-theme="light bordered" data-tippy-arrow="true" data-tippy-distance="15" title="{{ .Title}}">{{ .Params.day }}</a>
            {{ end }}
          {{ end }}

          {{ with .Next }}
            {{ if eq .Type "trip" }}
              <a href="{{ .RelPermalink }}" class="Trip-navigationNext">
                <i class="fa fa-arrow-right"></i>
              </a>
            {{ end }}
          {{ else }}
            <a class="Trip-navigationNext is-disabled">
              <i class="fa fa-arrow-right"></i>
            </a>
          {{ end }}
        </nav>
      </div>
    </div>

    <div class="Trip-content js-content">
      <div class="Trip-contentMap js-tripmap">
        <ul class="Trip-contentMapInfo {{ if $data.infoPosition }}{{ range $data.infoPosition }} is-{{ . }} {{ end }}{{ end }}">
          <li>
            <h4 class="Text is-subheader is-semibold is-txtBaseGrey">{{ $data.pois }} <span class="Text is-small">{{ i18n "pois" $data.pois }}</span></h4>
          </li>
          <li>
            <h4 class="Text is-subheader is-semibold is-txtBaseGrey">{{ $data.videos }} <span class="Text is-small">{{ i18n "videos" $data.videos }}</span></h4>
          </li>
          <li>
            <h4 class="Text is-subheader is-semibold is-txtBaseGrey">{{ $data.photos }} <span class="Text is-small">{{ i18n "photos" $data.photos }}</span></h4>
          </li>
          <li>
            <h4 class="Text is-subheader is-semibold is-txtBaseGrey">{{ $data.distance }} <span class="Text is-small">{{ i18n "distance" $data.distance }}</span></h4>
          </li>
        </ul>
      </div>
      <div class="Trip-contentText">
        {{ .Content }}

        {{ if $data.gallery }}
          <div class="Trip-gallery">
            {{ range $data.gallery }}
              <img src={{ . }} title="" alt="" data-zoom="zoom" />
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>

  <svg>
    <defs>
      <pattern id="triangle">
        <polyline id="mountain" fill="#FCFAF5" stroke="#9F795F" stroke-opacity="1" stroke-width="0.4"/>
      </pattern>
    </defs>
  </svg>
{{ end }}

{{ define "site/scripts" }}
  <script>
    var day = {{ .Params.day }};
  </script>
  <script src="{{ "js/trip.js" | relURL }}"></script>
{{ end }}