@import 'vars';

@media (max-width: $layout-mobile) and (orientation: portrait) {
	.Trip-header {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 90vh;
		min-height: auto;
	}

	.Trip-headerTitle {
		flex: none;
	}

	.Trip-nzMap {
		display: none;
	}

	.Trip-headerTitle,
	.Trip-siteNavigation {
		margin: 0 30px;
	}

	.Trip-headerInfo {
		flex-direction: row;
		justify-content: space-around;
		margin: 20px 30px 0;
		text-align: center;
	}

	.Trip-headerInfoItem {
		padding: 0 10px 0 0;
		margin: 0 10px 0 0;
	}

	.Trip-headerInfoItem:after {
		width: 1px;
		height: 100%;
		top: 0;
		right: 0;
		bottom: auto;
	}

	.Trip-headerAnimation {
		bottom: 50px;
		transform: translateX(-50%) scale(0.6);
	}

	.Trip-navigation {
 		right: 30px;
 		left: 30px;
 		bottom: -30px;
	}

	.Trip-navigationTitle {
		padding: 5px 30px 5px 0;
	}

	.Trip-navigationItem {
		display: none;
	}

	.Trip-navigationNext,
	.Trip-navigationPrev,
	.Trip-navigationItem.is-selected {
   	display: block;
	}

	.Trip-navigationItem.is-selected {
   	width: 30px;
   	height: 30px;
   	line-height: 30px;
	}

	.Trip-navigation.is-fixed {
   	top: 5px;
   	left: 50%;
   	right: auto;
   	width: auto;
   	padding: 0 10px;
   	transform: translateX(-50%);

   	.Trip-navigationTitle {
	   	display: none;
		}

		.Trip-navigationItems {
			margin-left: 0;
		}
	}

	.Trip-content {
		flex-direction: column;
		margin-top: 30px;
	}

	.Trip-contentMap {
		width: 100%;
		height: 33vh;
		margin: 0;
		border-bottom: 1px solid rgba($base-grey, 0.2);
		overflow: hidden;
		background: rgba($background-color, 0.8);
	}

	.Trip-contentMapInfo {
		display: flex;
		justify-content: space-between;
		top: auto!important;
		left: 5px!important;
		right: 5px!important;
		bottom: 5px;
		transform: scale(0.92);
	}

	.Trip-contentText {
		display: block;
		width: auto;
	}

	.Trip-contentText p {
		font-size: 16px;
    line-height: 24px;
	}
}