
$layout-mobile: 820px;
$base-grey: #666;
$light-grey: #AAA;
$main-color: #3E776C;
$background-color: #FCFAF4;

$colors: (
	"Main": $main-color,
  "BaseGrey": $base-grey,
  "White": #FFF,
  "LightGrey": $light-grey
);